*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: whitesmoke;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #274C77;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo img{
    height: 50px;
    width: auto;
}

.menu{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    font-weight: bold;
}

.menu li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover{
    background-color: #6096BA;
    border-radius: 5px;
}

.title{
    width: 100%;
}

.title h1{
    text-align: center;
    font-size: 50px;
    color: #6096BA;
    margin-top: 50px;
    text-shadow: 1px 1px 5px rgba(54, 53, 53, 0.5);
}

.info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.box-1 {
    max-width: 90%;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 1px 1px 10px rgba(54, 53, 53, 0.5);
    border-radius: 33px;
    gap: 30px;
    flex-wrap: nowrap;
}

.box-1 img {
    max-width: 560px;
    height: auto;
    border-radius: 25px;
    flex: 1 1 300px;
}

.box-1 p {
    font-size: 22px;
    flex: 2 1 400px;
    padding: 0 10px;
}

footer{
    width: 100%;
    height: auto;
    background-color: #274C77;
    margin-top: 40px;
}

.footer{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 24%;
    display: flex;
    justify-content: center;
}

.logo-f{
    margin-top: 20px;
}

.logo-f img{
    height: 50px;
    width: auto;
}

.team{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.team h4{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.team a{
    text-decoration: none;
    color: white;
    margin-top: 15px;
}

.university{
    height: 40px;
}

.university p{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.centimg{
    display: flex;
    justify-content: center;
}

.img-logistica {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.rodtit{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.rodmenu{
    list-style: none;
    gap: 20px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.rodmenu li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.rodmenu li a:hover{
    background-color: #6096BA;
    border-radius: 5px;
}
